*{
	background-color: white;
	color: #29228e;
	font-family: 'Allerta Stencil';
	/* font-size: 22px; */
}
h1{
	font-size: 60px;
}

.wrapper{
	background-color: white;
	margin: 10px;
}

img{
	height: 150px;
	width: 500px
}

#board{
	max-width: 640px;
	min-width: 320px;
	float: none;
	margin: auto;
}


.square{
	background-color: #29228e;
	color:  white;
	border:  2px solid #000;
	outline: none;
	width: 30%;
	padding: 30px 0;
	font-size: 80px;
	border-radius: 10px;
}

.button{
	margin: 10px;
	color: gray;
	outline: none;
	border-radius: 10px;
}



.square:hover{
	background-color: #dd3011;
}

.winning-square{
	background-color: green !important;
	color: red !important;
}